<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 px-4 shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="#">Pascal Koomson Ministries</a>

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item" *ngFor="let link of navLinks" [ngClass]="{'dropdown': link.children}">

          <!-- Dropdown link -->
          <ng-container *ngIf="link.children; else singleLink">
            <a class="nav-link dropdown-toggle px-3"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               [routerLinkActive]="['text-success','border-bottom','border-success','border-2','fw-bold']"
               [routerLinkActiveOptions]="{exact:false}">
              {{link.label}}
            </a>
            <ul class="dropdown-menu dropdown-animated">
            <li *ngFor="let child of link.children">
              <a class="dropdown-item bg-transparent text-success"
                [routerLink]="child.path"
                routerLinkActive="text-success fw-bold"
                [routerLinkActiveOptions]="{exact:true}">
                {{child.label}}
              </a>
            </li>
          </ul>

          </ng-container>

          <!-- Single link -->
          <ng-template #singleLink>
            <a class="nav-link px-3"
               [routerLink]="link.path"
               routerLinkActive="text-success border-bottom border-success border-2 fw-bold"
               [routerLinkActiveOptions]="{exact:true}">
              {{link.label}}
            </a>
          </ng-template>

        </li>

      </ul>
    </div>
  </div>
</nav>
