.register-container {
  background-color: #f8f9fa;
}

.card {
  background: white;
}

.form-control:focus, .form-select:focus {
  border-color: #557c55;
  box-shadow: 0 0 0 0.25rem rgba(85, 124, 85, 0.25);
}

.btn-success {
  background-color: #557c55;
  border: none;
}

.btn-success:hover {
  background-color: #436143;
}